/*   seccion de buscador */
#banner {
    height: 99vh;
    background-size: cover;
    background-position: center;
    background-image: url(logoimg3.jpeg);

}
#buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 18px;
    height: 50px;
    width: 60%
   
    
}
#vacio{
    height: 12vh;
}
#buscar_texto {
    border: none;
    background: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: left;
    line-height: 80px;
   
}
    
#boton {
    width: 50px;
    height: 45px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 500px;
    margin-top:0px;
  
}

#logo {
    border-radius: 100%;
    width: 45px;
    height: 50px;
}


#bar {
    background-color: blueviolet;
}

#fondo {
    width: 100%;
    margin-top: 81px;
}

#btn-buscar {
    color: white;
    border-color: white;

}

#card {

    margin-top: 6px;
    margin-left: 5px;
    margin-bottom: 5px;
}
#card-multi {
   
    justify-content: center;
}

#sub {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#efec :hover{
    font-size: 17px;
    text-decoration: underline;
    
}
#nose{
    height: 600px;
    width: 1350px;
}

#tarjeta{
    height: 500px;
    width: 500px;
}
#fondo{
    background-color: rgb(29, 29, 132);
}
#icono{
    background-color: grey;
    color: grey;}
    
#icono:hover{
    color:blue;
}
#letra{
    background-color: rgb(238, 238, 245);
    text-shadow: 1px 1px 2px rgb(177, 172, 172);
    
}

#colorid{
    text-decoration-line: none;
   color:rgb(0, 0, 0);
}
#colorid:hover{
    color:rgb(14, 138, 255);
}
#estilohover:hover{
   
    
    color:rgb(49, 21, 206);
    background-color: rgb(201, 201, 201);
}
/* probando pantalla dividida*/
.izquierda {

   

    width:50%;
    height: 90vh;

}

.derecha {
   
    width: 50%;
    height:90vh;

}

.pantallaDividida {
    display: flex;
 
}
.alinear{
    display: flex;
    justify-content: center;
}
.fondo{
    background-image: url(img/software.jpg);
}


#bg-left{
    background-color: gray;
    width: 20%;
    
    
}
.title {
    display: flex;
    justify-content: center;
 background-color: gray;
    margin-top: -3px;
    text-shadow: 2px 2px 5px gray;
}

#tex {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: white;
}

